* {
  margin: 0;
  padding: 0;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px;
}

.card {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

  margin: 16px 8px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formCenter {  
  align-items: center;
  padding: 10px;
}

.cardTop{
  align-items: center;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  margin: 28px;

}

.ImputCard{
  border-radius: 25px;
  display: block;
}